@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    font-family: Avenir;
    color: gray(34);
}

.cv{
    /*display: inline-block;*/
    background-color: whitesmoke;
    margin: 4% auto;
    width: 550px;
    height: 730px;
}


.left-section{
    float: left;
    background-color: indianred;
    width: 180px;
    height: 100%;
    text-align: center;
}

.inner-left{
    display: inline-block;
    background-color: gray;
    width: 90%;
    height: 100%;
    text-align: left;
}

.top-colorbar{
    background-color: gray;
    width: 100%;
    height: 80px;
}


hr.left-line{
    border: 0.5px solid whitesmoke;
    margin-top: 24px;
}

.contact-info{
    padding-top: 60px;
    font-size: 11px;
    padding-left: 7px;
}

.qualifications{
    font-size: 10px;
    /*list-style: none;*/
    padding-left: 12px;
}


.right-section{
    float: right;
    background-color: white;
    width: 370px;
    height: 100%;
    text-align: center;
}

.inner-right{
    display: inline-block;
    background-color: white;
    width: 90%;
    height: 100%;
    text-align: left;
}

.bottom-section{
    color: white;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
}

.name{
    color: indianred;
    font-family: "Avenir", serif;
    font-size: 180%;
    padding-top: 15px;
}

hr.right-line{
    border: 0.5px solid indianred;
    margin-top: 24px;
}

h5.tiny-header{
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

p.paragraph{
    font-size: 10px;
    padding-bottom: 1px;
    margin-bottom: -5px;
}

.experiences{
    font-size: 10px;
    font-weight: lighter;
}

.image{
    text-align: center;
    padding-left: 27px;
    padding-top: 25px;
    position: absolute;
    /*object-fit: cover;*/
    /*object-position: 80% 100%;*/
}
